<div ...attributes>
  <div class='description featured-piece-image'>
    <div class='container'>
      <BlurredImage @artPiece={{@artPiece}} />
    </div>
  </div>

  <div class='item'>
    <div class='container'>
      <div class='half'>
        <h2>{{@artPiece.name}}</h2>
        <h3 class='artist-info' {{action 'openArtistOverlay'}}>ARTIST:
          {{@artPiece.artist}}
          <span class='help-icon'>(<span class='primary'>?</span>)</span></h3>
        <h3 class='gallery-info'>GALLERY: {{@artPiece.gallery.name}}</h3>
      </div>
      <div class='half small'>
        {{#if @artPiece.soldOut}}
          <p>Current Edition: SOLD OUT</p>
          <LinkTo @route='art-pieces.show' @model={{@artPiece}} class='button'>Bid now</LinkTo>
        {{else}}
          <p>Buy it now price: 0.15<img style='height: 16px' src='/assets/images/eth.svg' alt='' /></p>
          <p>Current Edition:
            {{@artPiece.nextEdition}}
            /
            {{@artPiece.editions}}</p>
          {{#if session.isAuthenticated}}
            <a class='button' {{action 'buyCurrentRelease'}}>Buy now</a>
          {{else}}
            <a class='button' {{action 'redirectSignIn'}}>Buy now</a>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class='description'>
    <div class='container left'>
      <h3>About The Piece</h3>
      <p>{{@artPiece.description}}</p>
    </div>
  </div>

  <div class='overlay artist-overlay'>
    <div class='bg'></div>
    <div class='content'>
      <p class='big'>About the Artist</p>
      <p class='info'>Description of Artist</p>
      <div class='more-info'></div>
      <div class='buttons'>
        <div class='button close'>Close</div>
      </div>
    </div>
  </div>
</div>