<div>
  <div class="description">
    <div class="container">
      <h1>New Gallery</h1>
    </div>
  </div>

  <div class="description">
    <div class="container">
      <form id="gallery-form" {{action 'save' model on='submit'}}>
        <label>Name</label>
        {{input type="text" name="name" value=model.name}}

        <label>Location</label>
        {{input type="text" name="location" value=model.location}}

        <label>Description</label>
        {{input type="text" name="description" value=model.description}}

        <label>Image</label>
        {{#if fileUploading}}
          <span id="image-preloader">Uploading...</span>
        {{else}}
          {{#if model.image}}
            <div id="gallery-image">
              <img src="https://ipfs.io/ipfs/{{model.image}}" alt=""/>
            </div>
          {{else}}
            <input onchange={{action "uploadImage"}} accept="image/png,image/jpeg" type="file"/>
          {{/if}}
        {{/if}}

        <button type="submit" class="button">Create</button>
      </form>
    </div>
  </div>
</div>